<div class="container">
    <h1 class="center">New Content</h1>

        <%= render 'form' %>    <!-- è un partial che richiama a form -->
    
<div class="center">
        <%= link_to 'Back', contents_path %>
</div>
    
</div>

