<head>


</head>

<div class="container; center">
<br>
<br>


        <h4>Non spendere più i tuoi soldi per comprare libri che leggerai solo una volta</h4>
        <br>

        <h2><b>Abbonati. <span class="homepage-text" ="color:cyan darken-2">Leggi.</span>Impara</h2></b> 
        <h4>Potrai accedere a tutti i libri che vuoi</h4>
<br>

        <h4>Leggere non è mai stato così economico</h4>
        <br>
                  
<p>Premi <%= link_to "about", about_path %> per conoscerci </p>
</div>
